.Menu {
  background: linear-gradient(
    113deg,
    #3b5f79 0.96%,
    #497797 54.05%,
    #6db0df 100%
  );
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}

/* Lanyard IZQUIERDA */
.lanyard-wrapper {
  width: 45%;
  height: 100vh;
  position: relative;
}

/* Columna de texto DERECHA */
.Title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 45%;
  text-align: right;
}

.Title h2 {
  font-size: 1rem;
  font-family: "Hagrid", sans-serif;
  color: #ffffff;
  margin-bottom: rem;
  font-weight: 300;
  letter-spacing: 2px;
}

.Title h1 {
  font-size: 2.8rem;
  font-family: "Hagrid", sans-serif;
  font-weight: 800;
  color: #ffffff;
  margin: 0.3rem 0;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

/* Efectos */
.Title h1:hover {
  color: #000000;
  transition: color 0.3s ease;
  cursor: default;
}

/* Responsive */
@media (max-width: 768px) {
  .Menu {
    flex-direction: column;
    justify-content: flex-start; /* Cambiado para mejor alineación */
    text-align: center;
    padding: 2rem 5%;
  }

  /* Lanyard ARRIBA en móvil */
  .lanyard-wrapper {
    width: 500px; /* Ancho fijo */
    height: 400px; /* Reducido un poco para dar espacio al texto */
    order: 1; /* Primera posición */
    margin-bottom: 0rem;
  }

  /* Textos ABAJO en móvil */
  .Title {
    width: 100%;
    align-items: center;
    text-align: center;
    order: 2; /* Segunda posición */
    margin-bottom: 0;
  }

  .Title h1 {
    font-size: 2rem; /* Tamaño más apropiado para móvil */
  }

  .Title h2 {
    font-size: 1rem;
  }
}

@font-face {
  font-family: "Hagrid";
  src: url("../assets/fonts/hagrid/Hagrid-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hagrid";
  src: url("../assets/fonts/hagrid/Hagrid-Italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Hagrid";
  src: url("../assets/fonts/hagrid/Hagrid-Extrabold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hagrid";
  src: url("../assets/fonts/hagrid/Hagrid-Extrabold-Italic.ttf")
    format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
