.UI {
  background: linear-gradient(181deg, #0c0a0a 0.85%, #726060 99.14%);
  background-attachment: fixed;
  margin: 0; /* 👈 Cambia cqmax por 0 */
  padding: 0; /* 👈 Cambia cqmax por 0 */
  min-height: 100vh; /* 👈 Asegura altura mínima de toda la pantalla */
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
.dates h1 {
  display: flex;
  padding-left: 30px;
  font-family: "Hagrid", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  color: white;
  letter-spacing: 0.5px;
  padding-top: 120px;
  padding-bottom: 30px;
}
.dates p {
  font-family: "Hagrid", sans-serif;
  font-weight: 200;
  font-size: 1rem;
  color: white;
  letter-spacing: 2px;
  margin: 10px;
  padding-inline-start: 60px;
  padding-inline-end: 60px;
  text-align: center;
}
.btn-figma {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.glowbutton-DT {
  --glow-color: rgb(176, 252, 255);
  --glow-spread-color: rgba(123, 251, 255, 0.781);
  --enhanced-glow-color: rgb(206, 255, 255);
  --btn-color: rgb(61, 127, 136);
  border: 0.25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-family: "Hagrid", sans-serif;
  font-weight: 800;
  font-size: 1rem;
  background-color: var(--btn-color);
  border-radius: 1em;
  text-decoration: none;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}

.glowbutton-DT::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

.glowbutton-DT:hover {
  text-decoration: none;
  outline: none;
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

.glowbutton-DT:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}

.Pokedex h1 {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  font-family: "Hagrid", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  color: white;
  letter-spacing: 0.5px;
  padding-top: 120px;
  padding-bottom: 30px;
}
.Pokedex p {
  font-family: "Hagrid", sans-serif;
  font-weight: 200;
  font-size: 1rem;
  color: white;
  letter-spacing: 2px;
  margin: 10px;
  padding-inline-start: 60px;
  padding-inline-end: 60px;
  text-align: center;
}

.glowbutton-PK {
  --glow-color: rgb(252, 13, 13);
  --glow-spread-color: rgba(227, 110, 86, 0.781);
  --enhanced-glow-color: rgb(154, 24, 24);
  --btn-color: rgb(142, 16, 16);
  border: 0.25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-family: "Hagrid", sans-serif;
  font-weight: 800;
  font-size: 1rem;
  background-color: var(--btn-color);
  border-radius: 1em;
  text-decoration: none;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}

.glowbutton-PK::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

.glowbutton-PK:hover {
  text-decoration: none;
  outline: none;
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

.glowbutton-PK:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}
.Recetario h1 {
  display: flex;
  padding-left: 30px;
  font-family: "Hagrid", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  color: white;
  letter-spacing: 0.5px;
  padding-top: 120px;
  padding-bottom: 30px;
}
.Recetario p {
  font-family: "Hagrid", sans-serif;
  font-weight: 200;
  font-size: 1rem;
  color: white;
  letter-spacing: 2px;
  margin: 10px;
  padding-inline-start: 60px;
  padding-inline-end: 60px;
  text-align: center;
}
.glowbutton-RC {
  --glow-color: rgb(43, 237, 82);
  --glow-spread-color: rgba(86, 233, 98, 0.781);
  --enhanced-glow-color: rgb(48, 180, 84);
  --btn-color: rgb(51, 159, 62);
  border: 0.25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-family: "Hagrid", sans-serif;
  font-weight: 800;
  font-size: 1rem;
  background-color: var(--btn-color);
  border-radius: 1em;
  text-decoration: none;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
}

.glowbutton-RC::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

.glowbutton-RC:hover {
  text-decoration: none;
  outline: none;
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

.glowbutton-RC:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}
.scrollimages3 {
  padding-bottom: 44px;
}
@media (max-width: 768px) {
  .dates h1,
  .Pokedex h1,
  .Recetario h1 {
    display: flex;
    justify-content: center !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center;
    padding-top: 80px; /* Ajusta según necesites */
    padding-bottom: 20px;
  }

  .dates p,
  .Pokedex p,
  .Recetario p {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    text-align: center;
  }
}

@font-face {
  font-family: "Hagrid";
  src: url("../assets/fonts/hagrid/Hagrid-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hagrid";
  src: url("../assets/fonts/hagrid/Hagrid-Italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Hagrid";
  src: url("../assets/fonts/hagrid/Hagrid-Extrabold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Hagrid";
  src: url("../assets/fonts/hagrid/Hagrid-Extrabold-Italic.ttf")
    format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
